

.home {
  /* background-color: linear-gradient(#62bada) (#c9e7f2); */
  /* position: relative; */
max-width:100vw;
overflow-x:hidden;
}

.home_container {
  display: flex;
  height: 80vh;
  align-items: center;
  position: relative;
  background-image: linear-gradient(#62bada, #c9e7f2);
  justify-content: space-between;
  max-width:100vw;
}

.home_content {
  margin-left: 3rem;
}
.home_p {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  margin-top: 4rem;
  justify-content: space-between;
}

.texts {
  font-size: 25px;
  font-weight: 100;
  line-height: 35px;
  margin-bottom: 3rem;
}

.home-image {
  display: flex;
  position: absolute; 
  left: 50rem;
  width:100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 40px;
  margin-bottom: 1px; 
} 

.home_btn {
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 15px 32px;
  margin-right: 15px;
  margin-top: 5px;
  background-color: #4e5ee4;
  text-align: center;
  color: white;
}
.home_btn:hover {
  border: 2px solid white;
  background-color: #c9e7f2;
  transition: 0.5s;
  color: black;
}
a {
  text-decoration: none;
}
.home_section {

  background-color:#eef2fa;
  color: black;
  max-width: 100vw; 
  /* height: 100%;  */
  text-align: center;
  padding-top: 2px;
  justify-content: center;
}
.home_section P{
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 10px;
}
.icon {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
  margin-top: 20px;
  padding-bottom: 20px;
  
}
